* , a {
text-decoration: none;
margin: 0;

}
body{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    max-width: 1430px;

}
.container {
    display: flex;
    justify-content: space-between;
    background: rgb(248, 248, 248);
    max-width: 1430px;
    height: 939px;
    left: 0;
    right: 0;
    top: 4px;
    bottom: -4px;
   
}

.info 
{



}
.info h1
{
width: 888px;
height: 215px;
color: rgb(39, 39, 39);
font-size: 250px;
font-weight: 300;
line-height: 230px;
letter-spacing: 0%;
text-align: left;
padding-top: 185px;
padding-left: 133px;

}
p.info-text{
    width: 575px;
height: 142px;
color: rgb(22, 21, 21);
font-size: 32px;
font-weight: 300;
line-height: 155%;
letter-spacing: 0%;
text-align: left;
padding-bottom: 203px;
padding-left: 135px;
}


.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 421px;
    max-height: 82px;
    gap: 0;
    padding-left: 135px;
  }
  
  .btn {
    width: 278px;
    height: 82px;
    background: rgb(22, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn a {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
  }
  
  .btn-price {
    width: 143px;
    height: 82px;
    box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button p {
    width: 88px;
    height: 38px;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;

  }

  .main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1430px;
    padding-bottom: 85px;

  }
  .main h5{

color: rgb(0, 0, 0);
font-size: 24px;
font-weight: 300;
line-height: 186%;
letter-spacing: 0%;
text-align: center;
  }
  .main h2{
    color: rgb(0, 0, 0);
    font-size: 72px;
    font-weight: 400;
    line-height: 112.5%;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 84px ;

  }
.watch2{
  width: 417px;
  height: 630px;
  background: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 67px;
}
h6{
  color: rgb(0, 0, 0);
font-size: 32px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 17px;
}
.desc1 {
  color: rgb(22, 21, 21);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
  letter-spacing: 0%;
  text-align: center;
  width: 532px;
 height: 194px;


}
.watch3{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(248, 248, 248);
  margin-top: 85px;
  margin-bottom: 67px;

}
.desc2 {
margin-top: 17px;
margin-bottom: 59px;
color: rgb(22, 21, 21);
font-size: 32px;
font-weight: 300;
line-height: 155%;
letter-spacing: 0%;
text-align: center;
}

.footer {


}
h5{

  color: rgb(22, 21, 21);
font-size: 32px;
font-weight: 400;
line-height: 186%;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-bottom: 58px;
}
.desc3 {
  color: rgb(22, 21, 21);
  font-size: 24px;
  font-weight: 500;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
margin-bottom: 142px;
}
